#title_stef {
    color: #FFEB3B;
    font-size: 40px;
}

#title_stef_blue {
    color: #FFEB3B;
}

#stef_tel {
    font-size: 20px;
}
/*home services items*/
.h-item {
    background: none;
    color: white;
    font-size: 18px;
    background-color: black;
}
.home-categories .h-item:last-child {
    background-color: black;
}

.home-arrow span {
    background-color: black;
}

#video {
    background-image: url("../assets/images/bbqlhcpvuqa-alejandro-escamilla.jpg");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
    position: relative;
}

/*contactez moi*/
.pattern-black:after {
    background-color: grey;
    opacity: 0.4;
}

.logo_langage {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.logo_langage img {
    width:100%;
    height: auto;
}

.service-box .service-icon {
    border: none;
    display: flex;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* CONTACT */
.video-button span.logo-icon-m {
    height: auto;
}

.stef_tel {
    font-size: 18px;
    color: red;
    font-weight: 600;
}

/* MON TRAVAIL */
#why-we {
    background: none;
}
/* Tarifs */
.bigger {
    font-size: 30px;
}

.price-table-top a.price-table-img {
    background: black;
    height: 200px;
}

.prices .tables .active a.price-table-img {
    background: black;
    height: 236px;
}
.price-table-top a.price-table-img {
    height: 236px;
}

.price-table-top img {
    width: 65px !important;
}

.pricing-table .price-table-top h3 {
    position: initial !important;

}
.pricing-table .price-table-top h4 {
    position: initial !important;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    color: white;
}

.prices .tables .active a.price-table-img h3 {
    position: initial !important;
    height: 72px;
}

/*Contact*/
.rs-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: white;
}
.rs-icon a {
    font-size: 18px;
    color: #595959;
    margin: 15px auto;
    width: 40px;
    height: 40px;
    display: initial;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.rs-icon:hover {
    background-color: #131313;
    color: white;


}
.fa {
    width: 30px;
    height: 30px;
}

/* Theme Pannel (menu lateral choisir couleur) */
#theme-panel {
    display: none !important;
}

/*PortForlio*/
.isotope .isotope-item {
    width: 375px;
}
.work-image {
    width: 362px;
    height: 210px;
}

.work-image a {
    width: 100%;
    height: 100%;
}
.work-image a img {
    width: 100%;
    height: 100%;
}
.five {
    width: 100%;
    float: none;
}

.work-bottom p.work-name {
    color: black;
}
.work-bottom p.work-category {
    color: black;
}

.close {
    text-align: right !important;
    width: 100% !important;
    color: black !important;
    font-size: 25px !important;
    opacity: 1 !important;
    font-weight: 700 !important;
}

.close:hover {
    color: red !important;
}

/* PROJECT ATHYR */

.project-slides {
    height: 567px;
    overflow: hidden;
}

.portfolio-items {
    margin-left: 50px !important;
}

#careserve_slider {
    height: 360px;
    overflow: hidden;
}


ol.flex-control-nav {
    display: none;
}

.expander {
    display: block;
    width: 60px;
    height: 71px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.expander:hover {
    background: none;
}
.work-bottom {
    margin-top: 3px;
}

.work-bottom a:hover {
    background:#313131;
}

.work-bottom a:hover span.arrow {
    background: url(../images/work-arrow-hover.png) center center no-repeat;
}



